 #form {
     width: 600px;
     margin: 20vh auto 0 auto;
     background-color: #42484d;
     border-radius: 5px;
     padding: 30px;
     /* z-index: 8; */

 }




 .login {
     background-color: #2d3439;

     width: 100%;
     height: 100vh;
     padding: 50px;

 }


 .form_input {
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
 }

 .form_input label {
     color: white;
     font-size: 20px;
 }





 .form_input input {

     margin-top: 5px;
     font-size: 20px;
     padding: 10px;
     border-radius: 5px;
 }

 .form_input input:focus {
     outline: 0;
 }

 .loginbtn {
     padding: 10px 20px;
     background-color: #00c46a;
     border-radius: 5px;
     cursor: pointer;
 }

 button a {
     text-decoration: none;
     font-size: 20px;
 }